In [28]:
import pandas as pd
import numpy as np

# Create a dictionary with data about dogs
data = {
    'Name': ['Bella', 'Lucy', 'Max', 'Charlie', 'Buddy', 'Rocky', 'Molly', 'Daisy', 'Bailey', 'Lola','Bella', 'Lucy', 'Max'],
    'Age': [3, 5, 2, 4, 6, 1, 7, 3, 5, 2, 3, 5, 2],
    'Breed': ['Labrador', 'Poodle', 'Bulldog', 'Beagle', 'Pug', 'Boxer', 'Dachshund', 'Shih Tzu', 'Husky', 'Chihuahua', 'Labrador', 'Poodle', 'Bulldog'],
    'Weight': [22, 18, 25, 20, 10, 30, 12, 8, 28, 6, 22, 18, 25],
    'Date': pd.date_range(start='2023-01-01', periods=13, freq='D').tolist()
}
# Create a DataFrame from the dictionary
df_dogs = pd.DataFrame(data)

In [29]:
# We can use the value_counts() method to count the number of occurrences of each breed in the DataFrame
print(df_dogs['Breed'].value_counts())
# get percentage of each breed
print(df_dogs['Breed'].value_counts(normalize=True) * 100)

Breed
Labrador     2
Poodle       2
Bulldog      2
Beagle       1
Pug          1
Boxer        1
Dachshund    1
Shih Tzu     1
Husky        1
Chihuahua    1
Name: count, dtype: int64

In [30]:
# Dropping duplicates
vet_visits = df_dogs
vet_visits.drop_duplicates(subset=['Name', 'Breed'], keep='first', inplace=True)
unique_dogs = vet_visits
unique_dogs

      Name  Age      Breed  Weight       Date
0    Bella    3   Labrador      22 2023-01-01
1     Lucy    5     Poodle      18 2023-01-02
2      Max    2    Bulldog      25 2023-01-03
3  Charlie    4     Beagle      20 2023-01-04
4    Buddy    6        Pug      10 2023-01-05
5    Rocky    1      Boxer      30 2023-01-06
6    Molly    7  Dachshund      12 2023-01-07
7    Daisy    3   Shih Tzu       8 2023-01-08
8   Bailey    5      Husky      28 2023-01-09
9     Lola    2  Chihuahua       6 2023-01-10